{% extends 'base.html' %}

{% block title %}
    登录
{% endblock %}

{% block content %}
    <h1>登录</h1>
    <div class="module">
        {% if form.errors %}
            <p>您的用户名或者密码错误，请重试！</p>
        {% else %}
            <p>请在下面输入您的用户名和密码登陆: </p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" value="登录"></p>
            </form>
        </div>
    </div>
{% endblock %}