{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header">
        <span class="logo">Cons_Site</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li{% if section == 'dashboard' %} class="selected"{% endif %}>
                    <a href="{% url 'dashboard' %}" class="active">控制面板</a>
                </li>
                <li {% if section == 'images' %} class="selected" {% endif %}>
                    <a href="{% url "images:list" %}" class="active">图片</a>
                </li>
                <li {% if section == 'users' %} class="selected" {% endif %}>
                    <a href="{% url "user_list" %}" class="active">用户列表</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}

                {{ request.user.username }}
                <a href="{% url 'logout' %}">注销</a>
            {% else %}
                <a href="{% url 'register' %}">注册</a>
                &#x3000;<a href="{% url 'password_reset' %}">忘记密码</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                    <a href="" class="close">X</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
{# DOM是 Document Object Model #}
{#    由浏览器加载页面时生成，以树形结构保存在当前页面的所有节点数据，这样保证js代码执行时，操作的对象已经全部生成 #}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        let csrftoken =Cookies.get('csrftoken');
        $.ajaxSetup({
           beforeSend:function (xhr,settings) {
               xhr.setRequestHeader('X-CSRFToken',csrftoken);
           }
        });
        $(document).ready(function () {
            {% block domready %}
            {% endblock %}
        });
    </script>

</body>
</html>